@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-popup .swal2-actions .swal2-confirm {
  padding: 10px 50px;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    #00E676,
    #673AB7
  ); /* Ganti dengan warna yang diinginkan */
}

.swal2-popup .swal2-actions .swal2-confirm:not([disabled]):hover {
  background: linear-gradient(
    135deg,
    #673AB7,
    #00E676
  ); /* Gradient dari hijau tua ke biru tua pada hover */
}

.value h2 {
  color: #333333;
  font-weight: 500;
  margin-bottom: 4px;
}

.custom-loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #00E676;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: s7 1s infinite steps(8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Warna latar belakang semi-transparan */
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 9999; */
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}

/* Tambahkan animasi masuk */
.modal-entering {
  opacity: 0;
  transform: translateY(-20%);
}

/* Tambahkan animasi masuk aktif */
.modal-entered {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Tambahkan animasi keluar */
.modal-exiting {
  opacity: 0;
  transform: translateY(-20%);
}

/* Tambahkan animasi keluar aktif */
.modal-exited {
  display: none;
}

/* CSS */
.date-input-container {
  position: relative;
}

input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #4ade80;
  border-radius: 4px;
  outline: none;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
  color: #4ade80;
}

.calendar-icon:hover {
  color: #9333ea;
}

/* Pengaturan.css */

/* Wadah Utama */
.settings-container-light {
  background-color: #f0f0f0;
  color: #333;
}

.settings-container-dark {
  background-color: #333;
  color: #fff;
}

.settings-container-pink {
  background-color: #ff85a2;
  color: #fff;
}

/* Judul Pengaturan */
.settings-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Label Pengaturan */
.setting-label {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Toggle Notifikasi */
.toggle {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.toggle input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

.toggle input[type="checkbox"]:checked + .toggle-slider {
  background-color: #4ade80;
}

.toggle input[type="checkbox"]:checked + .toggle-slider:before {
  transform: translateX(24px);
}

/* Opsi Tema */
.theme-options {
  display: flex;
  justify-content: space-between;
}

.theme-label {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}

.theme-light {
  background-color: #f0f0f0;
}

.theme-dark {
  background-color: #333;
}

.theme-pink {
  background-color: #ff85a2;
}

input[type="radio"][name="theme"] {
  display: none;
}

input[type="radio"][name="theme"]:checked + .theme-label {
  transform: scale(1.2);
}

